<div class="grid mt-5">
  <div *ngFor="let food of foods" class="col-12 md:col-6 lg:col-3 m-0">
    <div (click)="viewDetails(food)"
      class="image-box border-1 cursor-pointer border-round bg-gray-50 flex flex-row lg:flex-column justify-content-center align-items-center pb-0 lg:pb-2">
      <div class="h-7rem md:h-10rem lg:h-14rem w-4 lg:w-full overflow-hidden flex justify-content-center"
        [ngClass]="{'border-round-left': _deviceWidthService.screenSize === 'sm' || _deviceWidthService.screenSize ==='md', 'border-round-top': _deviceWidthService.screenSize === 'lg' || _deviceWidthService.screenSize === 'xl'}">
        <img src={{food.imageUrl}} alt="Shop Image" class="h-full w-full object-fit transition">
      </div>
      <div class="w-8 lg:w-11 px-2 lg:px-0">
        <div class="text-2xl font-semibold text-800 white-space-nowrap overflow-hidden text-overflow-ellipsis">
          {{food.item}}</div>
        <div class="mt-1">
          <div class="text-700 white-space-nowrap overflow-hidden text-overflow-ellipsis">
            {{food.description}}
          </div>
        </div>
        <div class="flex justify-content-between mt-1">
          <p *ngIf="food.discount !== 0 && food.netPrice < food.price" class="text-xl text-red-300 line-through">
            {{food.price | currency:'USD'}}</p>
          <div class="text-right w-full">
            <p class="text-xl font-semibold ">{{food.netPrice | currency:'USD'}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<p-dialog *ngIf="_deviceWidthService.screenSize === 'lg' || _deviceWidthService.screenSize === 'xl'"
  class="header-less-dialog" [modal]='true' [(visible)]="detailsVisibility" [style]="{width: '50vw'}">
  <app-details-view (closeClicked)="closeDetails($event)" [value]='cartQuantity' *ngIf="detailsVisibility"
    [selectedProduct]='selectedProduct'></app-details-view>
</p-dialog>

<p-sidebar *ngIf="_deviceWidthService.screenSize === 'sm' || _deviceWidthService.screenSize === 'md'"
  [(visible)]="detailsVisibility" position="bottom" [style]="{height:'90vh'}" (onHide)="hideSidebar()"
  styleClass="border-round-top">

  <ng-template pTemplate="header">
    <p class="text-3xl font-bold px-2">{{selectedProduct.item}}</p>
  </ng-template>

  <ng-template pTemplate="content">
    <app-details-view (closeClicked)="closeDetails($event)" [value]='cartQuantity' *ngIf="detailsVisibility"
      [selectedProduct]='selectedProduct'></app-details-view>
  </ng-template>

  <ng-template pTemplate="footer">
    <div class="px-2 pb-2">
      <div class="flex justify-content-between mt-4">
        <div class="input-custom">
          <p-inputNumber class="mt-2" [(ngModel)]="cartQuantity" [showButtons]="true" buttonLayout="horizontal"
            inputId="horizontal" spinnerMode="horizontal" [step]="1" [min]="1" decrementButtonClass="p-button-danger"
            incrementButtonClass="p-button-success" incrementButtonIcon="pi pi-plus" decrementButtonIcon="pi pi-minus">
          </p-inputNumber>
        </div>
        <p class="text-4xl text-800 font-semibold mt-2">{{selectedProduct.netPrice | currency:'USD'}}</p>
      </div>
      <button (click)="addToCart(selectedProduct)" pButton pRipple label="Add to Cart"
        class="bg-red-500 border-red-500 mt-3 w-full"></button>
    </div>
  </ng-template>
</p-sidebar>