<div class="grid mt-2 p-0">
  <div *ngFor="let i of [].constructor(8);" class="col-12 md:col-6 lg:col-3">
    <div class="border-round border-1 surface-border p-4 surface-card">
      <p-skeleton width="100%" height="150px"></p-skeleton>
      <p-skeleton styleClass="mt-2" width="100%" height="2rem"></p-skeleton>
      <p-skeleton styleClass="mt-2" width="100%" height="2rem"></p-skeleton>
      <div class="flex justify-content-end mt-2">
        <p-skeleton width="8rem" height="2rem"></p-skeleton>
      </div>
    </div>
  </div>
</div>
